services:
  qbit:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbit
    restart: unless-stopped
    networks:
      - qbit-net
    environment:
      - WEBUI_PORT=8080
      - PUID=1000
      - PGID=1000
    ports:
      # qBittorrent WebUI is exposed by vuetorrent-backend service
      # - "8080:8080"

      # qBittorrent ports, NAT port forwarding required for them to work
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - "./data/qbittorrent:/config"
      - "./data/downloads:/downloads"
      - "./data/torrents:/torrents"

  vuetorrent-backend:
    # build: .
    image: ghcr.io/vuetorrent/vuetorrent-backend:latest
    container_name: vuetorrent-backend
    restart: unless-stopped
    networks:
      - qbit-net
    environment:
      # Backend port needs to match qbit one to avoid "Host header validation" issues
      - PORT=8080
      - QBIT_BASE=http://qbit:8080
      # Use "dev" for nightly releases
      - RELEASE_TYPE=stable
      # Optional, refer to the node-schedule package for compatible syntax
      - UPDATE_VT_CRON=0 * * * *
      # Only enable if using self-signed certificates on qBittorrent
      # - USE_INSECURE_SSL=true
      # Only enable if backend container is behind a proxy server which already add x-forward headers
      # - SKIP_X_FORWARD_HEADERS=true
      # Create a Github PAT with your account to increase API rate limit
      # fine-grained token with public repo access is enough
      # https://github.com/settings/personal-access-tokens/new
      # - GITHUB_AUTH=${GITHUB_AUTH}

      # If you want HTTPS, define the following variables with respective paths
      # - SSL_CERT_PATH=/config/ssl/cert.pem
      # - SSL_KEY_PATH=/config/ssl/key.pem
      # Use these instead for passing the value directly
      # - SSL_CERT=*****
      # - SSL_KEY=*****
    ports:
      - "8080:8080"
    volumes:
      - "./data/config:/config"

# This network is only there for the example,
# if you already have an external network (e.g. for use with a reverse proxy),
# you can use the existing one instead.
networks:
  qbit-net:
    driver: bridge
